/* This is injected after a web page loads */

/* 
custom interface contains everything. 
it is the parent component of most almost all elements created 
in this extension 
*/

html {
	--customHighlighterColor: #c2f4fd;
}

/* the style of the highlighted text */
.highlighted {
	background: -webkit-linear-gradient(#f5cabf00 30%,var(--customHighlighterColor) 31%);
	display: inline;
}

.customInterface {
	/* reset css */
	box-sizing: border-box;
	/* visuals */
	display: flex;
	flex-direction: column;
	width: 20vw;
	height: 15vh;
	position: fixed;
	z-index: 1000000;
	right: 0;
	bottom: 0;
	padding-left: 2%;
	padding-right: 2%;
	border-radius: 10px;
	margin-bottom: 1.5%;
	margin-right: 1.5%;
	justify-content: center;
	align-items: center;
	/* colors */
	background-color: var(--arc-background-simple-color);
	/* behavior */
	pointer-events: none; /* allow mouse click through div */
}

.customTitle {
	color: var(--arc-palette-backgroundExtra);
	font-size: 1.4em;
}

.customDesc {
	font-size: 12px;
}

.clickable {
	/* visuals */
	margin-left: 5px;
	margin-right: 5px;

	/* behavior */
	pointer-events: all;
}

.customToggle {
	padding: 0.4em 1em;
}




